.col-centered{
    float: none;
    margin: 0 auto;
}
.row-centered{
    float: none;
    margin: 0 auto;
}

.centered{
	text-align:center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}



.radio-inline input[type="radio"]:{
    border: 0px;
    width: 100%;
    height: 5em;
}
.myRadio{
    border: 0px;
    width: 100%;
    height: 5em;
}

#roomNumber{
	height: 50px;
}

p.settings{
font-size:72px;
}

.red {
    color: red;
}