body {
  padding-top: 20px;
  padding-bottom: 20px;
}
h1{
	text-align: center;
}
h3{
	text-align: center;
}
#canvasCenter {
     width: 800px;
     height:600px;
     margin: 0px auto;
   }

.navbar {
  margin-bottom: 20px;
}